<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <class class="class">
                <tr>
                    <td><img class="rounded-circle" height="250" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8NG8tRjukxvrSbGk2CfWU_aw9yUjpnFqbAoORbc7lZityM2nl"class="card-img-top" alt="..."></td>
                    <td>Robert Downey</td>
                </tr>
                <tr>
                    <td> <img class="rounded-circle" height="250" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2nZPuhQdRB2lfPZuEK1H1c-_ttkvzbEk3lrB0gcir9e0bFCEL" class="card-img-top" alt="...">
                    </td>
                    <td>Chris Evans</td>
                </tr>
                <tr>
                    <td><img class="rounded-circle " height="250" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSZ6TeDFGGXiuKR36W9VBw93YeRuOf_-eaDmfqJ1InJONlGKnqV"class="card-img-top" alt="...">
                    </td>
                    <td>Chris Hemsworth</td>
                </tr>
                <tr>
                    <td><img class="rounded-circle" height="250" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQJLKcPYKm3wHA-C8HDLYh06B5JYQNmQ0iQAYY6wwHJxzd-Mv2B"class="card-img-top" alt="...">
                    </td>
                    <td>Jeremy Renner
                </tr>
                <tr>
                    <td><img class="rounded-circle" height="250" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp4OuyDSyetsQHOMwPfF8wex5DYWnBYAPqj7Z5MYR-yPxsf-Gi"class="card-img-top" alt="...">
                    </td>
                    <td>Mark Ruffalo</td>
                </tr>
            </class>
        </div>
    </div>
</div>